@media(max-width: 1336px) {
    .add-task-vector {
        display: none;
    }

    .formular {
        flex-direction: column;
        max-width: 440px;
        gap: 16px;
    }

    .under-form {
        display: block;
        min-width: 440px;
    }

    .add-task-submit-buttons {
        margin-top: 16px;
        margin-left: 0;
        gap: 16px;
        margin-bottom: 96px;
    }

    .this-field-is-required {
        margin-top: 32px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
    }

    .add-task-pop-up {
        overflow-y: auto;
        padding: 16px 25px 32px 25px;
        width: unset !important;
        height: 90vh !important;
    }

}

@media(max-width: 920px){
    .this-field-is-required{
        margin-top: -24px;
    }
    .add-task-headline {
        margin-bottom: 24px;
    }
}

@media(max-width: 460px) {
    .content-container {
        display: block;
    }

    .add-task-headline {
        margin-bottom: 16px;
    }

    #input-title {
        width: 100%;
    }

    #input-description {
        width: 100%;
    }

    #add-task-drop-down-input{
        width: 100%;
    }

    #input-assigned-to {
        width: 100%;
    }

    #input-due-date {
        width: 100%;
    }

    .add-task-priority {
        width: 100%;
    }

    #input-category {
        width: 100%;
    }

    #add-task-subtask-input {
        width: 100%;
    }
    .add-task-user-dropdown{
        width: 90%;
    }
    .priority-button{
        flex-direction: column-reverse;
        gap: 2px !important;
    }
    .create-task{
        width: 160px;
    }
    .add-task-pop-up{
        display: block !important;
        width: 100% !important;
    }
    .under-form{
        min-width: unset;
    }
    .this-field-is-required{
        margin-top: 0;
    }
}
