#add-task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-task-submit-buttons {
    margin-bottom: 16px;
}

@media (max-width: 920px) {
    .under-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0;
    }
    .this-field-is-required {
        margin-top: 32px;
        width: 161px;
    }
}