.board-top-container {
    position: relative;
    height: 232px;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.2rem;
}

h2 {
    margin: 0;
    font-size: 61px;
}

.board-actions-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

#board-search-input {
    height: 48px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 312px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
}

#board-search-input:focus {
    outline: none;
    border: 1px solid var(--color-accent);
}

.board-search-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-left: -65px;
}

.large-board-add-task-button-mobile-container {
    height: 40px;
    width: 40px;
    background-color: var(--color-menu);
    border-radius: 10px;
    display: none;
}

.add-task-button-tablet {
    display: none;
}

#no-results, .board-columns-container {
    padding: 0 64px;
}

#no-results {
    display: none;
}

.board-columns-container, #board-column-headers-container-desktop {
    display: flex;
    justify-content: space-between;
}

#board-column-headers-container-desktop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 8px;
}

.board-column {
    width: 252px;
}

.board-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-column-header-mobile {
    margin-top: 0;
    margin-bottom: 16px;
    display: none;
}

.board-column-heading-desktop {
    font-size: 20px;
    font-weight: 700;
}

.board-column-heading-mobile {
    margin: 0;
    font-size: 27px;
}

.board-column-tasks-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background-color: #FFFFFF;
    width: 252px;
    min-width: 252px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px #00000014;
}

.task-title-and-description-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-category, .task-title, .task-description {
    font-size: 16px;
}

.task-category, .task-description {
    font-weight: 400;
}

.task-category {
    color: #FFFFFF;
    border-radius: 8px;
    padding: 4px 16px;
}

.user-story {
    background: #0038FF;
}

.technical-task {
    background: #1FD7C1;
}

.task-title {
    font-weight: 700;
}

.task-description {
    color: #A8A8A8;
}

.task-progress {
    height: 8px;
    border: none;
}

progress::-webkit-progress-bar {
    background-color: #F4F4F4;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background-color: #4589FF;
    border-radius: 16px;
}

.initial-avatars-and-priority-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#initial-avatars {
    display: flex;
}

.initial-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: -8px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 400;
}

@media (max-width: 1439px) {
    .board-columns-container {
        flex-direction: column;
        gap: 26px
    }
    #board-column-headers-container-desktop {
        display: none;
    }
    .board-column-header-mobile {
        display: flex;
    }
    .board-column {
        width: auto;
        /* This makes the task card shadows less pretty but is needed for horizontal scrolling: */
        overflow-x: auto;
    }
    .board-column-tasks-container {
        flex-direction: row;
    }
}

@media (max-width: 1135px) {
    .medium-dark-button {
        display: none;
    }
    .add-task-button-tablet {
        display: flex;
    }
    .board-top-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .board-actions-container {
        justify-content: flex-start;
    }
    .page-heading-and-mobile-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 47px;
    }
}

@media (max-width: 700px) {
    .large-board-add-task-button-mobile-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add-task-button-tablet {
        display: none;
    }
    .board-column {
        width: 100%;
    }
    .board-top-container, .board-columns-container {
        padding: 0 40px;
    }
    .board-actions-container, .board-search-input-container, .board-search-input-container form, #board-search-input {
        width: 100%;
    }
}

@media (max-width: 428px) {
    .board-top-container, .board-columns-container {
        padding: 0 16px;
    }
}