.board-top-container {
    position: relative;
    height: 232px;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.2rem;
}

h2 {
    margin: 0;
    font-size: 61px;
}

.board-actions-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

#board-search-input {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 312px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
}

#board-search-input:focus {
    outline: none;
    border: 1px solid var(--color-accent);
}

#board-search-input::placeholder {
    transform: translateY(2px);
}

.board-search-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    margin-left: -65px;
}

.large-board-add-task-button-mobile-container {
    height: 40px;
    width: 40px;
    background-color: var(--color-menu);
    border-radius: 10px;
    display: none;
}

.add-task-button-tablet {
    display: none;
}

.board-columns-container {
    margin-bottom: 96px;
}

#no-results, .board-columns-container {
    padding: 0 64px;
}

#no-results {
    display: none;
}

.board-columns-container, #board-column-headers-container-desktop {
    display: flex;
    justify-content: space-between;
}

#board-column-headers-container-desktop {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 8px;
}

.board-column {
    width: 252px;
}

.board-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-column-header-mobile {
    margin-top: 0;
    margin-bottom: 16px;
    display: none;
}

.board-column-heading-desktop {
    font-size: 20px;
    font-weight: 700;
}

.board-column-heading-mobile {
    margin: 0;
    font-size: 27px;
}

.board-column-tasks-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    min-height: 252px;
}

.drop-area-highlight {
    outline: 1px solid #A8A8A8;
    border-radius: 10px;
    outline-style: dashed;
}

.no-tasks-message {
    background-color: #E7E7E7;
    color: #A8A8A8;
    border: 1px solid #A8A8A8;
    box-shadow: 0px 0px 4px 0px #00000029;
    border-radius: 10px;
    border-style: dashed;
    height: 48px;
    width: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background-color: #FFFFFF;
    width: 252px;
    min-width: 252px;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px #00000014;
    cursor: pointer;
    transition: transform 125ms;
}

.rotate-task {
    transform: rotate(5deg);
}

.task-title-and-description-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-category, .task-title, .task-description {
    font-size: 16px;
}

.task-category, .task-description {
    font-weight: 400;
}

.task-category-and-mobile-drag-arrows-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.move-arrows {
    font-size: 20px;
    height: 32px;
    width: 32px;
    display: none;
    justify-content: center;
    align-items: center;
}

.task-category {
    color: #FFFFFF;
    border-radius: 8px;
}

.task-category-small {
    border-radius: 8px;
    padding: 4px 16px;
}

.user-story {
    background: #0038FF;
}

.technical-task {
    background: #1FD7C1;
}

.task-title {
    font-weight: 700;
}

.task-description {
    color: #A8A8A8;
}

.task-progress-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 12px;
}

.task-progress {
    width: 128px;
    height: 8px;
    border: none;
}

progress::-webkit-progress-bar {
    background-color: #F4F4F4;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    background-color: #4589FF;
    border-radius: 16px;
}

.subtask-tooltip {
    color: #FFFFFF;
    background-color: #4589FF;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 3px #00000014;
    position: absolute;
    top: 26px;
    right: 0;
    visibility: hidden;
}

.task-progress-container:hover .subtask-tooltip {
    visibility: visible;
}

.initial-avatars-and-priority-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#initial-avatars {
    display: flex;
}

.initial-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-left: -8px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 400;
}

.initial-avatar-large {
    margin-left: 0;
    height: 42px;
    width: 42px;
    border: 2px solid #FFFFFF;
}

#initial-avatars-large-container {
    display: flex;
    gap: 8px;
}

.pop-up-container {
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.add-task-pop-up {
    height: 870px;
    width: 1126px;
    justify-content: center;
    align-items: center;
}

.medium-pop-up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 525px;
    padding: 48px 40px;
}

.pop-up {
    background-color: #FFFFFF;
    display: none;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(100%, -50%);
    transition: transform 125ms;
}

.center-pop-up {
    transform: translate(-50%, -50%);
}

.close-pop-up-icon {
    cursor: pointer;
}

.close-add-task-pop-up-icon {
    z-index: 3;
    position: absolute;
    top: 64px;
    right: 40px;
}

#open-task-pop-up {
    max-height: 98%;
}

.move-task-pop-up-header, .open-task-pop-up-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.open-task-pop-up-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-right: 4.32px;
}

/* This deviates from the layout in Figma but a scrollbar was not considered in Figma */
.open-task-pop-up-content h2 {
    font-size: 47px;
}

.open-task-buttons-container, .open-task-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-task-buttons-container {
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: 4px;
}

.open-task-button {
    justify-content: center;
}

.edit-task-button {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.edit-task-button img {
    object-fit: scale-down;
}

.open-task-buttons-container {
    width: 100%;
    justify-content: flex-end;
}

.open-task-button-separator {
    height: 24px;
    border: 1px solid #D1D1D1;
}

.open-task-due-date-outer-container, .open-task-priority-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#open-task-priority {
    padding: 4px 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-category-large {
    padding: 4px 24px;
    font-size: 23px;
}

.collaborator-names-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.collaborator-name-outer-container {
    padding: 7px 16px;
}

.collaborator-name-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.collaborator-names {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.collaborator-name {
    font-size: 19px;
    font-weight: 400;
}

.subtasks-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtasks {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subtask {
    display: flex;
    gap: 16px;
    padding: 6px 16px;
}

.edit-task-subtask {
    justify-content: space-between;
}

.edit-task-subtask:hover .edit-task-buttons-container {
    visibility: visible;
}

.subtask:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.subtask-title {
    font-size: 16px;
    font-weight: 400;
}

.edit-task-pop-up-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.task-title-input {
    width: 100%;
    background-color: #FFFFFF;
    padding: 12px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: 400;
}

.task-title-input::placeholder {
    color: #D1D1D1;
    font-size: 20px;
    font-weight: 400;
}

.task-title-input:focus {
    outline: none;
    border: 1px solid var(--color-accent);
}

.edit-task-priority-buttons-container {
    width: 100%;
    display: flex;
    gap: 16px;
}

.edit-task-priority-button {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    padding: 16px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.priority-button-urgent-active {
    background-color: rgb(255, 61, 0);
    border-color: rgb(255, 61, 0);
    color: white;
    font-size: 21px;
    font-weight: 700;
    box-shadow: none;
}

.priority-button-medium-active {
    background-color: rgb(255,168,0);
    border-color: rgb(255,168,0);
    color: white;
    font-size: 21px;
    font-weight: 700;
    box-shadow: none;
}

.priority-button-low-active {
    background-color: rgb(122,226,41);
    border-color: rgb(122,226,41);
    color: white;
    font-size: 21px;
    font-weight: 700;
    box-shadow: none;
}

.task-form-label {
    font-size: 20px;
    font-weight: 400;
}

.task-form-label-priority {
    font-size: 20px;
    font-weight: 700;
    color: #42526E;
}

/* Task dropdown styles */
.collaborator-option {
    display: flex;
    justify-content: space-between;
    padding: 7px 16px;
}

.collaborator-option-name-and-initial-avatar {
    display: flex;
    gap: 16px;
    align-items: center;
}

.task-user-dropdown {
    background-color: #FFFFFF;
    padding-top: 8px;
    margin-top: -16px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    border-radius: 0px 0px 10px 10px;
    border: 0px 0px 1px 0px;
    /* position: absolute;
    width: 100%;
    max-width: 440px;
    max-height: 222px;
    overflow-y: scroll; */
}

.task-drop-down {
    position: relative;
    z-index: 2;
}

.arrow-drop-down {
    position: absolute;
    top: 24px;
    right: 24px;
    pointer-events: none;
}

.no-users-message {
    padding: 7px 16px;
}

#edit-task-description-textarea  {
    resize: none;
    overflow-x: hidden;
}

.edit-task-ok-button {
    align-self: flex-end;
}

.edit-task-form {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow-y: auto;
}

.edit-task-subtask-input-container {
    display: flex;
    position: relative;
}

#input-icons-container {
    position: absolute;
    align-self: center;
    display: flex;
    gap: 4px;
    right: 16px;
}

.input-icon-container {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-icon-container:hover {
    background-color: hsl(0, 0%, 85%);
}

.edit-task-plus-icon {
    height: 14px;
    width: 14px;
}

.subtask-title-input-editable {
    width: 100%;
    padding: 4px 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-accent);
}

@media (max-width: 1439px) {
    .board-columns-container {
        flex-direction: column;
        gap: 26px
    }
    #board-column-headers-container-desktop {
        display: none;
    }
    .board-column-header-mobile {
        display: flex;
    }
    .board-column {
        width: auto;
        /* This makes the task card shadows less pretty but is needed for horizontal scrolling: */
        overflow-x: auto;
    }
    .board-column-tasks-container {
        flex-direction: row;
    }
}

@media (max-width: 1135px) {
    .add-task-button-desktop {
        display: none;
    }
    .add-task-button-tablet {
        display: flex;
    }
    .board-top-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .board-actions-container {
        justify-content: flex-start;
    }
    .page-heading-and-mobile-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
}

@media (max-width: 920px) {
    .board-columns-container {
        margin-bottom: 128px;
    }
    h2 {
        font-size: 47px;
    }
}

@media (max-width: 700px) {
    .large-board-add-task-button-mobile-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add-task-button-tablet {
        display: none;
    }
    .board-column {
        width: 100%;
    }
    .board-top-container, .board-columns-container {
        padding: 0 40px;
    }
    .board-actions-container, .board-search-input-container, .board-search-input-container form, #board-search-input {
        width: 100%;
    }
    .medium-pop-up {
        padding: 32px 24px;
        width: 396px;
        gap: 16px;
    }
    .medium-pop-up h2 {
        font-size: 36px;
    }
}

@media (max-width: 500px) {
    .board-top-container, .board-columns-container {
        padding: 0 16px;
    }
    .medium-pop-up {
        padding: 24px 16px;
        width: calc(100% - 32px);
        gap: 12px;
    }
}

@media (pointer: coarse) {
    .move-arrows {
        display: flex;
    }
}