h2 {
    margin-bottom: 32px;
}

h3 {
    font-size: 27px;
    font-weight: 700;
    margin-block-end: 16px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    margin-block-end: 0;
}

p {
    margin-block-end: 20px;
}

.content-container {
    padding-right: var(--padding-content-left);
}

.brand-name {
    color: var(--color-accent);
}

#back-link {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    position: fixed;
    top: 225px;
    right: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-link:hover {
    background-color: var(--color-button-hover);
}

#back-link > img {
    height: 24px;
    width: 21px;
}

@media (max-width: 920px) {
    h2 {
        font-size: 47px;
    }
}