.summary-header {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 27px;
}

.summary-header-seperator {
    font-size: 61px;
    color: var(--color-accent);
}

.summary-overview-container {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.summary-overview-container-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.summary-overview-seperator {
    height: 100px;
    width: 2px;
    background-color: hsl(0, 0%, 82%);
}

.summary-amount {
    font-size: 64px;
}

.summary-staus-icon-box {
    height: 69px;
    width: 69px;
    border-radius: 35px;
    background-color: var(--color-menu);
}

.summary-staus-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.hook-icon {
    height: 29px;
    width: 37px;
}

.summary-button {
    background-color: white;
    border-radius: 30px;
    padding: 38px 19px;
}