.summary-header {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 27px;
}

.summary-header-seperator {
    font-size: 61px;
    color: var(--color-accent);
}

.summary-overview-container {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 21px;
}

.summary-overview-container-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.summary-overview-seperator {
    height: 100px;
    width: 2px;
    background-color: hsl(0, 0%, 82%);
}

.summary-amount {
    font-size: 64px;
}

.summary-status-icon-box {
    height: 69px;
    width: 69px;
    border-radius: 35px;
    background-color: var(--color-menu);
}

.summary-status-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.hook-icon {
    height: 29px;
    width: 37px;
}

.summary-button {
    background-color: white;
    border-radius: 30px;
    padding: 38px 19px;
    flex: 1;
    gap: 18px;
}

.summary-button:hover {
    background-color: var(--color-menu);
    scale: 1.05;
    color: white;
}

.summary-button:hover .summary-status-icon-box {
    background-color: white;
}

.summary-button:hover .summary-status-icon {
    filter: invert(15%) sepia(11%) saturate(2092%) hue-rotate(174deg) brightness(30%) contrast(100%);
}

.summary-left-button:hover {
    transform: translateX(5px);
}

.summary-right-button:hover {
    transform: translateX(-5px);
}

#summary-priority-button {
    justify-content: space-around;
}

#summary-priority-button:hover {
    transform: translateX(10px);
    
}