.summary-header {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 2.7rem;
    margin-bottom: 56px;
}

.summary-content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.summary-header-seperator-horizontal {
    font-size: 6rem;
    color: var(--color-accent);
}

.summary-header-seperator-vertical {
    display: none;
}

.summary-overview-container {
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-size: 2rem;
    margin-bottom: 127px;
}

.summary-overview-container-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.summary-overview-seperator {
    height: 100px;
    width: 2px;
    background-color: hsl(0, 0%, 82%);
}

.summary-amount {
    font-size: 6.4rem;
}

.summary-status-icon-box {
    height: 69px;
    width: 69px;
    border-radius: 35px;
    background-color: var(--color-menu);
}

.summary-status-icon {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}

.hook-icon {
    height: 29px;
    width: 37px;
}

.summary-button {
    background-color: white;
    border-radius: 30px;
    padding: 38px 19px;
    flex: 1;
    gap: 18px;
    transition: all 125ms ease-in-out;
    cursor: pointer;
}

.summary-button:hover {
    background-color: var(--color-menu);
    scale: 1.05;
    color: white;
}

.summary-button:hover .summary-status-icon-box {
    background-color: white;
}

.summary-button:hover .summary-status-icon {
    filter: invert(15%) sepia(11%) saturate(2092%) hue-rotate(174deg) brightness(30%) contrast(100%);
}

.summary-left-button:hover {
    transform: translateX(5px);
}

.summary-right-button:hover {
    transform: translateX(-5px);
}

#summary-priority-button {
    justify-content: space-around;
}

#summary-priority-button:hover {
    transform: translateX(10px) translateY(5px);
}

.summary-priority-icon-box {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: var(--color-urgent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.summary-priority-icon {
    width: 34px;
    height: 15px;
    object-fit: cover;
    object-position: center;
}

#summary-greeding {
    font-size: 4.7rem;
}

#summary-greeding-name {
    font-size: 6.4rem;
    color: var(--color-accent);
}

#summary-deadline {
    text-align: start;
}

.summary-priority-box {
    gap: 18px;
}

@media (max-width: 1400px) {
    #summary-greeding-box {
        display: none;
    }
}

@media (max-width: 1000px) {
    .summary-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .summary-header-seperator-horizontal {
        display: none;
    }

    .summary-header {
        gap: 8px;
        margin-bottom: 40px;
    }

    .summary-header-seperator-vertical {
        display: block;
        width: 90px;
        border: 3px solid var(--color-accent);
        border-radius: 3px;
        margin-top: 8px;
    }
}

@media (max-width: 750px) {

    .summary-button:hover {
        background-color: white;
        scale: 1;
        color: var(--color-menu);
    }
    
    .summary-button:hover .summary-status-icon-box {
        background-color: var(--color-menu);
    }
    
    .summary-button:hover .summary-status-icon {
        filter: unset;
    }
    
    .summary-left-button:hover {
        transform: unset;
    }
    
    .summary-right-button:hover {
        transform: unset;
    }

    #summary-priority-button:hover {
        transform: unset;
    }
}

@media (max-width: 500px) {
    .summary-button {
        border-radius: 20px;
        padding: 24px 12px;
        flex: 1;
        gap: 12px;
        transition: unset;
    }

    .summary-overview-container {
        gap: 24px;
        margin-bottom: 16px;
    }

    .summary-overview-container-section {
        gap: 24px;
    }

    .summary-priority-icon-box {
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
    
    .summary-priority-icon {
        width: 22px;
        height: 10px;
    }

    .summary-status-icon-box {
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
    
    .summary-status-icon {
        width: 16px;
        height: 18px;
        object-fit: contain;
    }
    
    .hook-icon {
        height: 12px;
        width: 17px;
        object-fit: contain;
    }
}

@media (max-width: 360px) {
    .summary-button {
        gap: 8px;
    }

    .summary-overview-container {
        gap: 8px;
    }

    .summary-overview-container-section {
        gap: 8px;
    }
}