:root{
    --color-main: hsl(210, 13%, 97%);
    --color-menu: hsl(214, 25%, 22%);
    --color-menu-hover: hsl(216, 36%, 26%);
    --color-menu-active: hsl(216, 69%, 11%);
    --color-menu-font: hsl(0, 0%, 80%);
    --color-menu-font-active: hsl(0, 0%, 100%);
    --color-accent: hsl(198, 76%, 53%);
    --color-urgent: hsl(14, 100%, 50%);
    --color-medium: hsl(40, 100%, 50%);
    --color-low: hsl(94, 76%, 53%);
    --color-user-story: hsl(227, 100%, 50%);
    --color-technical-task: hsl(173, 75%, 48%);
    --color-user0: hsl(29, 100%, 50%);
    --color-user1: hsl(328, 100%, 69%);
    --color-user2: hsl(250, 100%, 66%);
    --color-user3: hsl(270, 100%, 58%);
    --color-user4: hsl(191, 100%, 45%);
    --color-user5: hsl(173, 75%, 48%);
    --color-user6: hsl(8, 100%, 69%);
    --color-user7: hsl(26, 100%, 69%);
    --color-user8: hsl(299, 100%, 72%);
    --color-user9: hsl(47, 100%, 50%);
    --color-user10: hsl(227, 100%, 50%);
    --color-user11: hsl(77, 100%, 58%);
    --color-user12: hsl(53, 100%, 58%);
    --color-user13: hsl(0, 100%, 64%);
    --color-user14: hsl(41, 100%, 58%);
    --box-shadow: 0px 4px 4px 0px #0000001A;
    --padding-content-top: 110px;
    --padding-content-left: 96px;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--color-main);
    margin: 0;
}

h1 {
    font-size: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column {
    flex-direction: column;
}

.no-gap {
    gap: 0 !important;
}

.outer-container {
    margin: auto;
    display: flex;
    min-height: 100vh;
    max-width: 1920px;
    width: 100%;
}

#main {
    width: 100%;
}

.content-container {
    padding-top: var(--padding-content-top);
    padding-left: var(--padding-content-left);
    width: 100%;
}

#desktop-menu, #mobile-menu {
    color: var(--color-menu-font);
    background-color: var(--color-menu);
}

#desktop-menu {
    width: 232px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0;
    font-size: 16px;
    position: sticky;
    top: 0;
}

#mobile-menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 16px;
}

@media (max-width: 600px) {
    #desktop-menu {
        display: none;
    }
    #mobile-menu {
        display: flex;
    }
}

@media (max-height: 680px) {
    #desktop-menu {
        padding: 32px 0;
    }
}

@media (max-height: 520px) {
    #desktop-menu {
        padding: 24px 0;
        font-size: 14px;
    }
}

@media (max-height: 420px) {
    #desktop-menu {
        padding: 16px 0;
    }
}