<section class="add-task-center-center">
  <div class="center-add-task-content">
    <div class="add-task-headline">Add Task</div>
    <div class="formular">
      <div class="add-task-left-container">
        <div class="frame-219">
          <div class="title-v1">
            <span class="add-task-text">Title<span class="color-red">*</span></span>
            <form>
              <input id="input-title" placeholder="Enter a title" type="text" />
            </form>
          </div>
          <div class="description-v1">
            <span class="add-task-text">Description</span>
            <form>
              <input
                id="input-description"
                placeholder="Enter a Description"
                type="text"
              />
            </form>
          </div>
          <div class="assigned-to-v1">
            <span class="add-task-text">Assigned to</span>
            <form>
              <input
                id="input-assigned-to"
                placeholder="Select contacts to assign"
                type="text"
              />
            </form>
          </div>
        </div>
        <div class="this-field-is-required"><span class="color-red">*</span>This field is required</div>
      </div>

      <div class="add-task-vector"></div>

      <div class="add-task-right-container">
        <div class="frame-39">
          <div class="due-date-v1">
            <span class="add-task-text">Due date<span class="color-red">*</span></span>
            <form>
              <input id="input-due-date" placeholder="dd/mm/yyyy" type="date" />
            </form>
          </div>
        </div>
        <div class="frame-28">
          <div class="add-task-priority">
            <span class="add-task-text">Prio</span>
            <div class="priority-button">
              <button class="prio-button" id="prio-urgent">Urgent <img src="/assets/img/prio-up.svg"></button>
              <button class="prio-button" id="prio-medium">Medium <img src="/assets/img/prio-medium.svg"></button>
              <button class="prio-button" id="prio-low">Low <img src="/assets/img/prio-down.svg"></button>
            </div>
          </div>
        </div>
        <div class="add-task-category">
          <div class="frame-74">
            <span class="add-task-text">Category<span class="color-red">*</span></span>
            <form>
              <input
                id="input-category"
                placeholder="Select a task category"
                type="text"
              />
            </form>
          </div>
        </div>
        <div class="subtask-v1">
          <span class="add-task-text">Subtasks</span>
          <form>
            <input
              id="input-subtasks"
              placeholder="Add new subtask"
              type="text"
            />
          </form>
        </div>
        <div class="add-task-submit-butttons">
          <button class="clear-create-task"><img src="/assets/img/clear-button.svg" alt="clear Task"></button>
          <button class="clear-create-task"><img src="/assets/img/create-task-button.svg" alt="create Task"></button>
        </div>
      </div>
    </div>
  </div>
</section>
